<div class="jumbotron">
	<center>
		<h1>Welcome to McDowell's</h1>
		<h2>Home of the Golden <i>Arcs</i></h2>
		<img src="http://www.legalteamusa.net/tacticalip/wp-content/uploads/2013/12/mcdowells.gif"><br>

		<%= link_to "Visit our Locations!", locations_path, class: "btn btn-default" %>

	</center>

</div>
